.container {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
}
