:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme="dark"] {
  --background: darkblue;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

body {
  margin: 0;
  padding: 20px 150px 50px 150px;
  font-family: "Fjalla One", sans-serif;
}
